*{
    background-color:salmon;
}


th {
    background-color: bisque;
    padding: 5px;
}

tr {
    background-color: lavender;
    padding: 5px;
}

img {
    width:500px;
}

/* Centered text */
.centered {
    position: absolute;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}