* {
    box-sizing:border-box;
}

body {
    background-color:salmon;
}

#salmon_logo {
    /*background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;*/
    width: 500px;
    margin: 0 auto;
    position: relative;
    
}
th {
    background-color: bisque;
    padding: 5px;
}

tr {
    background-color: lavender;
    padding: 5px;
}

img {
    width:500px;
}

/* Centered text */
.centered {
    position: absolute;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p#textlogo{
    text-align: center;
    float: left;
    position: relative;
    top: -120px;
    left: 137px;
    color: white;
    font-size: 32px;
    font-family: 'Cedarville Cursive', cursive;
}