* {
    box-sizing:border-box;
}

body {
    background-color:salmon;
}

#salmon_logo {
    /*background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;*/
    width: 500px;
    margin: 0 auto;
    position: relative;
    
}
th {
    background-color: bisque;
    padding: 5px;
}

tr {
    background-color: lavender;
    padding: 5px;
}

img {
    width:500px;
}

/* Centered text */
.centered {
    position: absolute;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p#textlogo {
    text-align: center;
    float: left;
    position: relative;
    top: -80px;
    left: 137px;
    color: white;
    font-size: 32px;
    font-family: 'Cedarville Cursive', cursive;
}

.navbar {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:20px;
    float: left;
    position: relative;
    top: 0px;
    left: -89px;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    font-size:14px;
    color: black;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}
.welcome{
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding: 20px;
    float: left;
    position: relative;
    text-align: center;
    top: 0px;
    left: 150px;
    font-size: 14px;
    margin-bottom: 10px;

}
.owner {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding: 20px;
    float: left;
    position: relative;
    text-align: center;
    top: 0px;
    left: 150px;
    font-size: 14px;
    margin-bottom: 10px;
}

p#welcome {
    font-size: 33px;
    margin-bottom: -17px;
    text-align: center;
}

div#review {
    float:left;
    border: 20px;
}

p#smallbiz{
}

p#comment {
    text-align: center;
    margin-top:10px;
    font-size:25px;
    font-style: italic;

}



img#frostedcookie{
    margin-top:3px;
    margin-bottom:3px;
    border: 1px black solid;
    width: 320px;
}
img#owner {
    width: 300px;
    margin-right: 10px;
    border: 1px black solid;
}

img#family{
    width:65%;
    border: 1px black solid;
    margin-top: 5px;
}

img#merch{
    width:160px;
    height: 160px;
    border: 1px black solid;
    margin-top: 5px;
}

img#chinook1 {
    width: 60px;
    position: relative;
    top: -52px;
    left: -130px;
 
}
img#chinook {
    width: 60px;
    position: relative;
    top: 43px;
    left: -107px;

}

.locations {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    float: left;
    position: relative;
    top: 0px;
    left: 150px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 0px;

}
#spacedlocations{
    background-color:white;
}
.locations p {
    padding:30px;
    
}
p#firstandpike {
    float: left;
}

p#seatacairport {
    float: left;
}

p#seattlecenter {
    float:left;

}

p#capitolhill {
    text-align: center;
    float: left;
    position: relative;
    top: -23px;
    left: 100px;
}

p#alki {
    text-align: center;
    float: left;
    position: relative;
    top: -23px;
    left: 122px;
}

    



